.app {
  position: relative;
  min-height: 100vh;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.light {
  background-color: #5380ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23E7EDFF' stroke-width='6.6' stroke-opacity='0.13' %3E%3Ccircle fill='%235380FF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23138cff' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%230097ff' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2300a2ff' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2300abff' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2300b4ff' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2300bdff' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%2300c5ff' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2300ccff' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2300d3fe' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2300daf6' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2300e0ee' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2300e6e5' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2300ecdc' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2327f1d4' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%235af6cd' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%237afbc6' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2395FFC1' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: #000;
}

.dark {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23FFFFFF' stroke-width='2.7' stroke-opacity='0.09' %3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}


footer {
  position: absolute;
  bottom: 30px;
  text-align: center;
  font-size: 12px;
}

code {
  font-size: 16px;
}

