.App {
  background: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drum-pad {
  width: 100px;
  height: 100px;
  margin: 2px;
}

#display {
  background-color: #fff;
  width: 282px;
  height: 19px;
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}
